body{
    background-color: beige;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh, 5vh, 30vh, 10vh, 30vh;
}

img{
    height: 100%;
    width: 60%;
}

.Huvudbild{
    grid-column: 1/4;
    width: 100%;
    opacity: 70%;
    border: rgba(0, 0, 0, 70%) 2px solid;
}

header{
    grid-column: 2/3;
    text-align: center;
    margin-top: 5%;
}

#Logotyp{
    border: 3px solid black;
}

h2{
    margin-top: 5%;
    text-align: center;
    font-family: "itim", cursive, 'Times New Roman', Times, serif;
    border: 3px solid black;
    background-color: #FFFEDE;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 26.5%;
    a:hover{
        color: black;
        background-color: bisque;
    }
}

.TheLine{
    grid-column: 1/4;
    padding-top: 30px;
    padding-bottom: 20px;
    border-top: black 3px solid;
    border-bottom: black 3px solid;
    font-family: "itim", cursive, 'Times New Roman', Times, serif;
    font-size: xx-large;
}


.itim-regular {
    font-family: "itim", cursive, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-style: normal;
  }


a{
    text-decoration:none;
    color: black;
}


h3{
    border: rgba(0, 0, 0, 50%) 2px solid;
    padding: 5%;
    background-color: #f4f3c9;
    font-family: "itim", cursive, 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: x-large;
}

nav{
    display: flex;
    flex-direction: row;
    font-family: "itim", cursive, 'Times New Roman', Times, serif;
    border: rgba(0, 0, 0, 50%) 2px solid;
    background-color: #f4f3c9;
}

.Ing1{
    list-style-type: none;
}

.Ing2{
    list-style-type: none;
}

.Sek1ing{
    flex-direction: column;
}

.Sek2ing{
    flex-direction: column;
}

.Sek3ing{
    font-size: smaller;
    align-items: end;
    align-self: flex-end;
    border: rgba(0, 0, 0, 50%) 2px solid;
    padding-left: 5px;
}

section{
    a:hover{
        color: black;
        background-color: bisque;
    }
}

#IngBild{
    display: grid;
    grid-column: 2/4;
    width: 100%;
    opacity
}

#StegRub{
    grid-column: 2/3;
    margin-left: 15%;
    margin-right: 15%;
}


.steg{
    margin-left: 10%;
    background-color: #f4f3c9;
    text-align: center;
    border: rgba(0, 0, 0, 50%) 2px solid;
    margin-bottom: 15%;
    font-family: "itim", cursive, 'Times New Roman', Times, serif;
    grid-column: 1/2;
}

h4{
    border: rgba(0, 0, 0, 50%) 2px solid;
    background-color: #f4f3c9; 
    align-self: center;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-size: x-large;
}


.stegbild{
    margin-bottom: 2.5%;
    grid-column: 3;
    width: 100%;
    height: 90%;
    border: rgba(0, 0, 0, 50%) 2px solid;
}


#klar{
    grid-column: 2/3;
    border: rgba(0, 0, 0, 50%) 2px solid;
    text-align: center;
}

footer{
    grid-column: 1/4;
    border: rgba(0, 0, 0, 50%) 2px solid;
    background-color: beige;
    text-align: center;
    font-size: large;
    font-family: "itim", cursive, 'Times New Roman', Times, serif;
}

.stegpil{
    padding-left: 15%
}

#stegbildfix{
    max-height: 65%;
}

#stegbildfix2{
    max-height: 70%;
}

#stegbildfix3{
    max-height: 80%;
}